.skeleton-fade-enter-active[data-v-107197ea],.skeleton-fade-leave-active[data-v-107197ea]{transition:opacity .28s ease}.skeleton-fade-enter-from[data-v-107197ea],.skeleton-fade-leave-to[data-v-107197ea]{opacity:0}
