.skeleton-fade-enter-active[data-v-277f1496],.skeleton-fade-leave-active[data-v-277f1496]{transition:opacity .28s ease}.skeleton-fade-enter-from[data-v-277f1496],.skeleton-fade-leave-to[data-v-277f1496]{opacity:0}
